.app-menu {

  $self: &;

  @apply list-reset flex flex-col;

  &__item {

    & + & {
      padding-top: 1rem;
    }
  }

  &__link {
    border-radius: 100%;
    background-color: $white;
    padding: 0.5rem;
    font-size: 1.75rem;
    cursor: pointer;
    display: block;
  }

}
