.header {
  @apply flex justify-between;

  @screen md {
    margin: 0 3.125rem;
  }

  &__column {
    @apply flex;

  }

  &__icon-button {
    @apply p-2;
    color: $kiri-mist;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      color: $white;
      background-color: $kiri-mist;
    }

    @screen sm {
      @apply p-4;
    }
    
    &--hide-desktop {
      @screen md {
        display: none;
      }
    }
  }

  &__sidebar-toggle {
    @apply p-4;
    @screen md {
      @apply hidden;
    }
  }

}
