.hero-carousel {
  @apply flex flex-col items-start hint-of-mauve-pansy;
  justify-content: space-around;
  height: 280px;
  padding: 0 1rem;
  position: relative;

  @screen md {
    padding: 0 3.125rem;
  }

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F1F1F1; // Specific to image used

    img {
      object-fit: cover;
      object-position: right;
      height: 100%;
      width: 100%;
      display: none;

      @screen sm {
        display: block;
      }
    }
  }

  &__content {
    @apply w-full;
    text-align: center;
    z-index: 10;

    @screen sm {
      text-align: left;
    }

    @screen sm {
      @apply w-2/3;
    }
  }

  &__title {
    font-size: $text-xx-large;
    line-height: $lineheight-xx-large;
    font-family: $font-light;
  }

  &__paragraph {
    font-size: $text-medium;
    line-height: $lineheight-medium;
  }

  &__cta {
    @apply ballyhoo text-white p-4;
    font-size: $text-small;
    font-family: $lineheight-small;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }

  &__text-link {
    display: block;
    font-size: $text-x-small;
    line-height: $lineheight-x-small;
    text-decoration: none;
    color: $button-blue;

    &:hover {
      text-decoration: underline;
    }
  }

}
