.plugin-listing {
  padding: 10px;
  position: relative;
  flex: 1 0 auto;
  display: block;
  background-color: $texture--white-trans;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: $texture--white-trans-tint;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &__content {
    @apply flex justify-center flex-col items-center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__title {
    @apply text-white;
    font-size: $text-medium;
    font-family: $font-primary;
    font-weight: normal;
  }

  &__stars {
    @apply my-4;
    font-size: $text-small;
    color: $orchid;

  }

}
