.plugin-listing {
  @apply texture--white-trans;
  padding: 10px;
  position: relative;
  flex: 1 0 auto;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &__content {
    @apply flex justify-center flex-col items-center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__title {
    @apply text-white;
    font-size: $text-medium;

  }

  &__stars {
    @apply my-4;
    font-size: $text-small;

  }

}
