.search-form {
  display: flex;
  &__icon {
    @apply block p-2;
    display: block;
    color: $kiri-mist;

    @screen sm {
      @apply p-4;
    }

  }

  &__input {
    @apply hidden;
    @screen md {
      @apply inline-block;
      border-left: 2px solid $kiri-mist;
      margin: 0.5rem 0;
      height: 2.5rem;
    }
  }

}
