.user-nav {

  $self: &;

  @apply flex;

  &__menu {
    @apply list-reset;

  }

  &__menu-link {
    @apply p-4 block;

  }

  &__dropdown {
    position: static;
  }

  &__dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 12rem;
    z-index: 20;
    
    &.js-active {
      display: block;
    }
  }

  &__dropdown-link {
    display: block;
    padding: 0.5rem calc(1rem + 2px);
    font-size: $text-medium;
    line-height: $lineheight-medium;
    color: $kiri-mist;
    text-decoration: none;

    &:hover {
      background-color: $kiri-mist;
      color: $white;
    }
  }

  &__dropdown-button {
    display: flex;
    justify-content: center;
    align-items: stretch;

    &:hover #{$self}__dropdown-button-text {
      color: $white;
      background-color: $kiri-mist;
    }
  }

  &__dropdown-button-text {
    @apply p-4;
    font-size: $text-medium;
    line-height: $lineheight-medium;
    font-family: $font-bold;
    position: relative;
    color: $kiri-mist;
    transition: background-color 0.5s ease-in-out;

    &:after {
      content: '\f107';
      font-family: "fontello";
    }

  }

  &__dropdown-avatar img {
    display: none;
    @screen md {
      display: block;
      object-fit: cover;
      vertical-align: middle;
      height: 3.5rem;
      width: 3.5rem;
    }
  }

}
