/*------------------------------------*
	SVG ARTWORK COLORS
*------------------------------------*/

$nautical: #2F497B;
$deep-koamaru: #343263;
$black: #000000;
$hint-of-mauve-pansy: #D8D8D8;
$ballyhoo: #5AA842;
$button-blue: #2897F5;
$orchid: #7A80EA;
$kiri-mist: #C5C7D2;
$obsidian-shard: #040519;
$white: #FFFFFF;

$texture--white-trans: rgba(255, 255, 255, 0.08);

